.navbar .brand {
    background-image: url("../img/fiks.png");
    background-repeat: no-repeat;
    background-position: -1px 4px;
    padding-left: 35px;
}

.input-micro {
    width: 30px;
}

.forecast {
    display: table-cell;
}

.forecasts {
    display: table-row;
}

.forecast-table {
    display: table;
}

.beta {
    font-size: smaller;
    vertical-align: super;
}
@-webkit-viewport{width: device-width;}
@-moz-viewport{width: device-width;}
@-ms-viewport{width: device-width;}
@-o-viewport{width: device-width;}
@viewport{width: device-width;}